@page
@model BookSabz.Pages.Admin.CreateCategoryModel
@{
	Layout = "_AdminLayout";
	ViewData["AdminTitle"] = "افزودن کتگوری";
}


<div class="col-12 mb-3">
		@if (Model.ErrorMessage != null)
	{
	<div class="alert alert-danger">
	@Model.ErrorMessage
	</div>
	}
	<div class="col-6 mr-auto ml-auto text-center">
		<h1 class="border-bottom">ایجاد کتگوری جدید</h1>
	</div>
</div>

<form asp-page-handler="Create" class="mr-auto ml-auto" method="post">
	<div class="form-row">
		<div class="form-group col-md-12">
			<label asp-for="Category.CategoryName"></label>
			<input class="form-control" asp-for="Category.CategoryName">
			<span asp-validation-for="Category.CategoryName" class="text-danger"></span>
		</div>
	</div>
	<button type="submit" class="btn btn-success">ارسال</button>
</form>
