@page
@model BookSabz.Presentation.WebRazor.Pages.Admin.LoginModel
@{
	Layout = "_AdminLayout";
	ViewData["AdminTitle"] = "لاگین";
}


<form class="mr-auto ml-auto" method="post">
	<div class="form-row">
		<div class="form-group col-md-12">
			<label asp-for="AdminLogin.UserName"></label>
			<input class="form-control" asp-for="AdminLogin.UserName">
			<span asp-validation-for="AdminLogin.UserName" class="text-danger"></span>
		</div>
	</div>

		<div class="form-row">
		<div class="form-group col-md-12">
			<label asp-for="AdminLogin.Password"></label>
			<input type="password" class="form-control" asp-for="AdminLogin.Password">
			<span asp-validation-for="AdminLogin.Password" class="text-danger"></span>
		</div>
	</div>
	<button type="submit" class="btn btn-success">ارسال</button>
</form>