@page
@model IndexModel
@addTagHelper *,TagHelpers
@{
    ViewData["Title"] = "صفحه اصلی";
}


<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>مجموعه کتاب سبز</h3>
            <p>برترین و کمیاب ترین کتاب هارو در سایت کتاب سبز دانلود کنید !</p>
            <a href="/Books" class="btn">دیدن کتاب ها</a>
        </div>

        <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide"><img src="image/book-1.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="image/book-2.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="image/book-3.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="image/book-4.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="image/book-5.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="image/book-6.png" alt=""></a>
            </div>
            <img src="image/stand.png" class="stand" alt="">
        </div>

    </div>

</section>



<view-books asp-page-name="Book-Details" section-name="کتاب های برتر" book-list="Model.PopularBook"></view-books>

@*
<section class="newsletter">

    <form action="">
        <h3>برای دریافت به روز رسانی وکتاب های منتشر شده مشترک شوید</h3>
        <input type="email" name="" placeholder="ایمیل خود را وارد کنید" id="" class="box">
        <input type="submit" value="عضویت" class="btn">
    </form>

</section>*@


<new-book asp-page-name="Book-Details" section-name="کتاب های جدید" new-book-list="Model.NewBook"> </new-book>


<!-- deal section ends -->

